<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'chat/styles.css' %}">
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="{% url 'login_view' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="submit" value="Login">
        </form>
        <div class="signup-container">
            <p>Don't have an account?</p>
            <a href="{% url 'signup' %}" class="signup-button">Sign Up</a>
        </div>
    </div>
</body>
</html>
